th {
    width: 16.6%;
    border-bottom: solid thin #16464a;
}

td {
    color: rgb(121, 121, 121);
    width: 16.6%;
}

#pagination {
    width: auto;
    height: 25px;
    padding-top: 15px;
    display: block;
}

#pagination a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid;
    text-align: center;
    background-color: grey;
}

#pagination span {
    color: #000000;
    text-decoration: none;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid white;
    text-align: center;

}

.pn_prev {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid;
    text-align: center;
    background-color: grey;
}

.pn_next {
    float: right;
}